amortization==1.0.2
argon2-cffi==20.1.0
asgiref==3.2.10
beautifulsoup4==4.9.1
cffi==1.14.0
Django==3.0.8
django-crispy-forms==1.9.2
-e git://github.com/bitmazk/django-feedback-form.git@e3b5acbbde37caddab2da65f0fd5d7f3a8c8c597#egg=django_feedback_form
django-libs==2.0.3
django-mailer==2.0.1
django-simple-feedback-form==1.1.1
gunicorn==20.0.4
lockfile==0.12.2
psycopg2==2.8.5
pycparser==2.20
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tabulate==0.8.7
