{% extends 'reset_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}<title>Password Change</title>{% endblock %}
{% block content %}

<body id="login-page">
	<!--== Start Main ==-->
	<main class="text-center">
		<div class="container">
			<!-- box -->
			<div class="box">
				<!-- logo -->
				<div class="logo">
					<img src="{% static 'assets/images/logo.webp' %}" class="img-fluid" alt="">
				</div>
				<!-- form contain -->
				<div class="form-contain">
					<!-- sign in form -->
					<form method="POST" id="sign-in-form">
						{% csrf_token %}
						<!-- form name -->
						<h4 class="name">sign in to account</h4>
						<!-- input group -->
						<div class="input-g">
							{{ form|crispy }}
						</div>
						<!-- input group -->
						<div class="input-g">
							<!-- row -->
							<div class="row">
								<!-- col -->
								<div class="col-6 text-left">
									<label class="control control-checkbox">Remember me
										<input type="checkbox">
										<span class="control_indicator"></span>
									</label>
								</div>
								<!-- col -->
								<div class="col-6 text-right">
									<a href="{% url 'password_reset' %}" data-show="#forg-pass-form"  class="pass-link form-control-btn" onclick="return true;">Forget Password?</a>
								</div>
							</div>
						</div>
						<!-- button group -->
						<div class="btn-g">
							<button type="submit">Sign In</button>
						</div>
						<!-- form footer -->
						<div class="form-footer">
							<p class="mb-0">Don't you have account? <a href="{% url 'signup' %}" data-show="#sign-up-form" class="ml-2 form-control-btn" onclick="return true;">Sign Up</a></p>
						</div>
					</form>
			</div>
		</div>
	</main>
{% endblock %}
