{% extends 'reset_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}<title>Password</title>{% endblock %}
{% block content %}
<body id="login-page">
	<!--== Start Main ==-->
	<main class="text-center">
		<div class="container">
			<!-- box -->
			<div class="box">
				<!-- logo -->
				<div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.webp' %}" class="img-fluid" alt=""></a>
				</div>
				<!-- form contain -->
				<div class="form-contain">
					<!-- sign in form -->
					<form  method="POST" id="sign-in-form">
						{% csrf_token %}
						<!-- input group -->
						<div class="input-g">
							{{ form|crispy }}
						</div>
						<!-- button group -->
						<div class="btn-g">
							<button type="submit">Change Password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
{% endblock %}