{% extends 'reset_base.html' %}
{% load static %}
{% block title %}<title>Password Change</title>{% endblock %}
{% block content %}
<body id="login-page">
	<!--== Start Main ==-->
	<main class="text-center">
		<div class="container">
			<!-- box -->
			<div class="box">
				<!-- logo -->
				<div class="logo">
					<img src="{% static 'assets/images/logo.webp' %}" class="img-fluid" alt="">
				</div>
				<!-- form contain -->
				<div class="form-contain">
					<!-- sign in form -->
					<div class="alert alert-info">
                        An email has been sent with instructions to reset your password | <a href="{% url 'login' %}">Log In</a>
                    </div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}